footer {
  margin-top: 4em;
  font-size: 12px;
}

article {
 font-size: 16px;
}

article section h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

article section h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

article section h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

article section p {
  margin-bottom: 1rem;
}

article section li {
  margin-bottom: calc(1rem / 3);
}

article section img {
  border: 4px solid #e5e5e5;
}

article section figure {
  padding: 5px;
  margin: auto;
}

article section figcaption {
  font: italic smaller sans-serif;
  margin-top: 5px;
  padding: 3px;
  text-align: center;
}

:not(pre) > code {
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 0px 3px;
  margin: 0;
  font-size: 14px;
}

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0 0;
  padding: 0.5em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}
